body {
	position: relative;
	min-height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.contentWrapper {
	padding-bottom: 80px; /* footer height */
}

.slotContainer {
	max-width: 800px;
	width: 95vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
}

.slot {
	display: flex;
	flex-direction: column;

	.slotSecondaryButtons {
		margin-top: 18px;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: flex-start;
	}

	.slotLeaderButton {
		width: 24px;
		height: 24px;
		filter: grayscale(100%);

		opacity: 0.5;
		cursor: pointer;

		@media (hover: hover) {
			&:hover {
				filter: none;
				opacity: 1;
			}
		}
	}
}

.heroBadge {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: lightgray;
	background-size: contain;
	border: 1px solid darkgray;

	&.faded {
		cursor: default;
		filter: opacity(25%);
	}

	.heroBadgeChainContainer {
		background-color: rgba(255, 255, 255, 0.5);
		border-top-left-radius: 10px;
		align-self: flex-end;
		margin-left: auto;
		padding-bottom: 3px;
		padding-right: 3px;
	}

	.heroBadgeElementRoleContainer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-self: flex-start;
		height: inherit;
		img {
			width: inherit;
			&:nth-child(1) {
				border-top-left-radius: 10px;
				border-bottom-right-radius: 5px;
			}
			&:nth-child(2) {
				border-bottom-left-radius: 10px;
				border-top-right-radius: 5px;
			}
		}
	}
}

.weaponBadge {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	border: 1px solid red;
	background-color: #efefef;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	&.faded {
		cursor: default;
		filter: opacity(25%);
	}

	.weaponBadgeAilment {
		align-self: flex-end;
		margin-left: auto;
		padding-right: 2px;
	}

	.weaponBadgeElementContainer {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-self: flex-start;
		height: inherit;
		margin-right: auto;

		img {
			width: inherit;
			border-top-left-radius: 10px;
			border-bottom-right-radius: 5px;
		}
	}
}

.chainIcon {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	:nth-child(1) {
		position: absolute;
		top: 2px;
		left: 2px;
	}
	:nth-child(2) {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	:nth-child(3) {
		position: absolute;
	}
}

.heroPicker {
	display: flex;
	flex-direction: column;
	align-items: center;

	.heroPickerFilters {
		width: 97vw;
		max-width: 800px;
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
	}

	.heroPickerHeroes {
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;

		.badgeWrapper {
			margin: 5px;
		}
	}
}

.weaponPicker {
	display: flex;
	flex-direction: column;
	align-items: center;

	.weaponPickerFilters {
		width: 97vw;
		max-width: 800px;
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
	}

	.weaponPickerWeapons {
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;

		.badgeWrapper {
			margin: 5px;
		}
	}
}

.partyBuffSummary {
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 10px;
	line-height: 25px;
	margin-top: 30px;
}

.chainInfo {
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 10px;
	line-height: 25px;
	margin-top: 30px;

	.chain {
		display: flex;
		align-items: center;
		margin: 10px 0;

		.chainArrow {
			font-size: 30px;
			margin: 0 15px;
			color: #666;
		}
	}
}

.resetButton {
	margin-top: 30px;
	margin-bottom: 10px;
	width: 80px;
	height: 30px;
}

.elementPicker {
	display: inline-block;

	.elementPickerImageWrapper {
		height: 48px;
		display: inline-block;
		cursor: pointer;
		background-color: steelblue;

		img {
			&.selected {
				transform: scale(0.85);
			}
			&:not(.selected):hover {
				transform: scale(0.9);
			}
		}
	}
}

.rolePicker {
	display: inline-block;
	height: 48px;
	background-color: steelblue;

	img {
		cursor: pointer;
		&.selected {
			transform: scale(0.85);
		}
		&:not(.selected):hover {
			transform: scale(0.95);
		}
	}
}

.closeButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	background-color: #283847;
	cursor: pointer;
	color: white;
	font-size: 36px;

	&::after {
		content: '✘';
	}
}

.footer {
	color: #283847;
	font-size: 16px;
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	width: 96vw;
	max-width: 800px;
	height: 80px;
	line-height: 25px;
	padding-bottom: 5px;
	font-style: italic;

	a,
	a:visited,
	a:hover,
	a:active {
		color: inherit;
	}
}
