body {
	display: flex;
	justify-content: center;
}

.slotContainer {
	max-width: 1000px;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.slot {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.heroBadge {
	position: relative;
	width: 150px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	overflow: hidden;
	background-color: lightgray;
	cursor: pointer;

	&.locked {
		cursor: default;
		filter: opacity(20%);
	}

	.heroBadgeChainContainer {
		background-color: rgba(255, 255, 255, 0.5);
		border-top-left-radius: 10px;
		align-self: flex-end;
		margin-left: auto;
		padding-bottom: 3px;
		padding-right: 3px;
	}
}

.chain {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 45px;
	:nth-child(1) {
		position: absolute;
		top: 0;
		left: 0;
	}
	:nth-child(2) {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	:nth-child(3) {
		position: absolute;
		width: 20px;
		height: 20px;
	}
}

/* .weapon-slot-container {
	max-width: 1000px;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.weapon-slot {
	cursor: pointer;
	width: 80px;
	height: 80px;
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid grey;
	border-radius: 20px;
	overflow: hidden;
	background-color: lightgray;
} */

.heroPicker {
	display: flex;
	max-width: 80vf;
	flex-wrap: wrap;

	&.badgeWrapper {
		margin: 10px;
	}
}
