body {
	display: flex;
	justify-content: center;
}

.slotContainer {
	max-width: 800px;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
}

.slot {
	height: 240px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}

.heroBadge {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	overflow: hidden;
	background-color: lightgray;
	background-size: contain;
	border: 1px solid darkgray;
	cursor: pointer;

	&.locked {
		cursor: default;
		filter: opacity(20%);
	}

	.heroBadgeChainContainer {
		background-color: rgba(255, 255, 255, 0.5);
		border-top-left-radius: 10px;
		align-self: flex-end;
		margin-left: auto;
		padding-bottom: 3px;
		padding-right: 3px;
	}
}

.weaponBadge {
	position: relative;
	width: 75px;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	overflow: hidden;
	background-color: lightgray;
	border: 1px solid darkgray;
	background-size: auto;
	cursor: pointer;

	.weaponBadgeAilment {
		align-self: flex-end;
		margin-left: auto;
		padding-right: 2px;
	}
}

.chainIcon {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 45px;
	:nth-child(1) {
		position: absolute;
		top: 0;
		left: 0;
	}
	:nth-child(2) {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	:nth-child(3) {
		position: absolute;
		width: 20px;
		height: 20px;
	}
}

.heroPicker {
	display: flex;
	max-width: 80vf;
	flex-wrap: wrap;

	.badgeWrapper {
		margin: 10px;
	}
}

.partyBuffSummary {
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 10px;
	line-height: 25px;
	margin-top: 30px;
}

.chainInfo {
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 10px;
	line-height: 25px;
	margin-top: 30px;

	.chain {
		display: flex;
		align-items: center;
		margin: 10px 0;

		.chainArrow {
			font-size: 30px;
			margin: 0 10px;
			
		}
	}
}

.resetButton {
	margin-top: 30px;
	width: 80px;
	height: 30px;
}
